<script type="text/javascript">
  window.antora = window.antora || {}
  window.antora.basePath = '{{or siteRootPath (or site.url siteRootUrl)}}'
  window.antora.pagePath = '{{@root.page.url}}'
</script>

<script src="{{uiRootPath}}/js/site.js"></script>
{{#if page.attributes.content-scripts}}
{{{page.attributes.content-scripts}}}
{{/if}}
<script async src="{{uiRootPath}}/js/vendor/chartist.js"></script>
<script async src="{{uiRootPath}}/js/vendor/highlight.js"></script>

{{#if (eq page.layout 'tutorials')}}
<script async src="{{uiRootPath}}/js/vendor/mark.js"></script>
{{/if}}
{{#if (eq env.SHOW_FEEDBACK_BUTTON 'true')}}
<script async id="feedback-script" src="{{uiRootPath}}/js/vendor/feedback.js?v=1" data-collector-id="de2e9313"></script>
{{/if}}
{{#if env.SITE_SEARCH_PROVIDER}}
{{> search-scripts}}
{{/if}}
