<footer class="footer">
  <div class="footer-main col">
    <figure class="footer-brand">
      <a class="logo" href="https://kumori.systems"><img style="width: 10%;" src="{{uiRootPath}}/img/logo_27.svg" alt="Kumori Systems"></a>
    </figure>
  </div>
  <div class="col">
    <ul class="footer-brand-links">
      <li><a href="https://kumori.systems" target="_blank" rel="noopener">Home</a></li>
      <li><a href="{{{or site.url (or siteRootUrl siteRootPath)}}}">Docs</a></li>
      <li><a href="https://gitlab.com/kumori.docs" target="_blank" rel="noopener">Source</a></li>
      <li><a href="http://discuss.kumori.systems" target="_blank" rel="noopener">Discuss</a></li>
    </ul>
  </div>
  <div class="footer-legal">
    <p>Copyrright Kumroi Systems S.L. All rights reserved.</p>
    <p>The UI for this site is based on the default Antora UI and is thus licensed under the terms of the MPL-2.0
      license.</p>
  </div>
  <div class="footer-thanks">
      <p>Authored in AsciiDoc</p>
      <p>Produced by Kumori Systems and Antora.</p>
  </div>
</footer>