<header class="header">
  <nav class="navbar" id="topbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://axebow.io/" target="_blank"><img style="width: 15rem;" src="{{uiRootPath}}/img/AXEBOW-horizontal.png" alt="Axebow"></a>
{{!--
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
--}}
    </div>
    
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://axebow.io/" target="_blank">Home</a>
        <a class="navbar-item" href="{{site.url}}">Docs</a>
        <a class="navbar-item" href="https://cmc.eu.axebow.cloud/" target="_blank">START FOR FREE</a>
{{!--
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Services</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://eu.axebow.cloud">Axebow Service</a>
          </div>
        </div>
--}}
{{!--
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://gitlab.com/kumori-systems/community" target="_blank">Open source material</a>
          </div>
        </div>
--}}
        {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
          </div>
        </div>
        {{/if}}
        {{!-- <div class="navbar-item">
          <form action="https://www.google.com/search" method="get" target="searchresult">
              <input type="hidden" name="q" value="site:kumori-docs.gitlab.io">
              <input type="text" name="q" alt="search">
              <input type="submit" value="Search">
          </form>
        </div> --}}
        {{!-- <div class="navbar-item">
        </div> --}}
        {{!-- <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">Download</a>
          </span>
        </div> --}}
      </div>
    </div>
  </nav>
</header>

