<div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content" onclick="closeModal()">
        <!--suppress HtmlRequiredAltAttribute as this will be set when selecting the image via JavaScript,
        RequiredAttributes as src will be set by when selecting the image via JavaScript -->
        <img id="imageinmodal">
    </div>
</div>
<script>
    function openModal() {
        document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("myModal").style.display = "none";
    }

    {{!-- document.querySelectorAll('.imageblock img').forEach(element => {
        element.className += " lightbox";
        element.addEventListener('click', function (e) {
        if (e.ctrlKey) {
            console.log('With ctrl, do something...');
            return;
        }
        });
        element.addEventListener('click', evt => {
            document.getElementById("imageinmodal").setAttribute("src", evt.currentTarget.getAttribute("src"))
            document.getElementById("imageinmodal").setAttribute("alt", evt.currentTarget.getAttribute("alt"))
            openModal();
        })
    }); --}}

    document.querySelectorAll('.imageblock kroki').forEach(element => {
        element.className += " lightbox";
        {{!-- element.addEventListener('click', evt => {
            if (evt.ctrlKey) {
                document.getElementById("imageinmodal").setAttribute("src", evt.currentTarget.getAttribute("src"))
                document.getElementById("imageinmodal").setAttribute("alt", evt.currentTarget.getAttribute("alt"))
                openModal();
            }
        }) --}}
        element.addEventListener('click', evt => {
            document.getElementById("imageinmodal").setAttribute("data", evt.currentTarget.getAttribute("data"))
            openModal();
        })
    });

</script>
<style>
    /* The Modal (background) */
    .modal {
        display: none;
        position: fixed;
        z-index: 10;
        padding-top: 5vh;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        backdrop-filter: blur(3px);
        background-color: rgba(30, 30, 30, 0.8);
    }
    img.lightbox {
        cursor: pointer;
    }
    /* Modal Content */
    .modal-content {
        position: relative;
        margin: auto;
        padding: 0;
        width: 90%;
        max-height: 90vh;
        cursor: pointer;
    }

    .modal-content img {
        width: auto;
        height: auto;
        max-width: 90vw;
        max-height: 90vh;
        min-width: 90vw;
        min-height: 90vh;
        display: block;
        margin-right: auto;
        margin-left: auto;
        object-fit: contain;
    }

    /* The Close Button */
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }
</style>

