<footer class="myfoot">
  <div class="container">

    <div class="footer-col">
      <h3><a class="logo" href="https://kumori.systems"><img style="width: 50%;" src="{{uiRootPath}}/img/kumoriv1t.png"
            alt="Kumori Systems"></a></h3>
      <p class="footer-para">Kumori Systems S.L. © 2024</p>
    </div>

    <div class="footer-col">
      <div class="accion">
        <i class="fa-solid fa-map-marker"></i>
        <p><span>C/. Menendez Pelayo, 5 - bajo</span> 46010 Valencia, Spain</p>
      </div>
      <div class="accion">
        <i class="fa-solid fa-phone"></i>
        <p>+34 675 893 803</p>
      </div>
      <div class="accion">
        <i class="fa-solid fa-envelope"></i>
        <p><a href="mailto:support-team@axebow.cloud">support-team@axebow.cloud</a></p>
      </div>

    </div>

    <div class="footer-col social-icons">
      <p>Paving the way to painless delivery of cloud services</p>
      <div class="social-icons">
        <a href="https://www.facebook.com/Kumori-Systems-1631025417113058/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://twitter.com/kumorisystems"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/kumori-systems"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.gitlab.com/kumori-systems/community"><i class="fa-brands fa-gitlab"></i></a>
      </div>
    </div>

  </div>
</footer>