:root {
  --aisberg-blau    : #1e4586;
  --aisberg-eisblau : #8fadd1;
  --aisberg-rot     : #d82a34;
  --aisberg-weiss   : #ffffff;
  --color-abw-darker: #0d1821;
  --color-abw-dark: #344966;
  --color-abw-light: #b4cded;
  --color-abw-lighter: #f0f4ef;
  --color-abw-red: #e93a3a;
  --color-abw-yellow: #f9cf6c;
  --color-abw-green: #0ecd9a;
}


.navbar {
  background: var(--color-abw-dark);
}

.nav-container {
  /*font-size: calc(17 / var(--rem-base) * 1rem);*/
  font-size: 0.7rem;
}



@media screen and (min-width: 769px) {
  .nav-container {
    /*width: var(--nav-width);*/
    width: 25rem;
  }
}
@media screen and (min-width: 1024px) {
  .doc {
    /*max-width: var(--doc-max-width--desktop);*/
    max-width: 70rem;
  }
  aside.toc.sidebar {
    /*-ms-flex-preferred-size: 12rem;*/
    flex-basis: 18rem;
  }
}

/* .doc .imageblock img,
.doc .imageblock object[type="image/svg+xml"],
.doc .image > img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
} */

.accion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;

}

.superbody {
  display:flex;
  flex-direction:column;
}

.myfoot {
  position: relative;
}

.footer-col * {
  color: var(--color-abw-dark);
  padding-bottom: 4px;
}

footer {
  background: var(--color-abw-light)
}
/*eliminamos position:absolute*/
