* {
  padding: 0;
  margin: 0;
}

footer {
  background: var(--color-abw-light);
  position: relative;
  bottom: 0;
  width: 100%;
}

footer *{
  color: white;
}

.container{
  display: flex;
  justify-content: space-between;
  padding: 50px 7%;
}

.footer-col{
  width: 25%;
  color: var(--color-abw-dark)
}

.footer-col h2{
  font-optical-sizing: 1.7em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p.email{
  margin: 30px 0;
}

p.phone{
  font-size: 20px;
  font-weight: 400;
}

.footer-col .text-office{
  margin-bottom: 20px;
}
.underline{
  width: 70px;
  height: 3px;
  position: relative;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: hidden;
}

.underline span{
  width: 7px;
  height: 100%;
  position: absolute;
  left: 10px;
  background-color: rgb(63,63,63);
  border-radius: 3px;
  animation: moving 1.5s linear infinite;
}

@keyframes moving {
  0%{
      left: -20px;
  }
  100%{
      left: 100%;
  }
}

.footer-col ul{
  list-style-type: none;
  padding-top: 10px;
}

.footer-col ul li{
  margin: 10px;
}

.footer-col form{
  margin-top: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  display: flex;
}

.footer-col form input{
  width: 70%;
  background: transparent;
  border: none;
  outline: none;
  padding-left: 10px;
}

.footer-col form i{
  font-size: 15px;
}

.footer-col p {
  align-content: center;
}

.footer-col .social-icons{
  margin-top: 20px;
  align-content: center;
}

.footer-col .social-icons i {
  padding: 10px;
  background-color: var(--color-abw-light);
  color: var(--color-abw-dark);
  border-radius: 50%;
  margin: 5px;
  align-items: center;
}

.footer-para {
  max-width: 250px;
}